.btn {
  background-color: blueviolet;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px;
  border-color: blueviolet;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(117, 38, 192);
}
